* {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    background-image: url(image/caledonie/header.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: rgb(8, 8, 8) 1px 0 10px;
    font-size: 20px;
}


nav {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.226);
    display: flex;
    padding: 10px 20px;
    height: 75px;
}

nav a {
    color: rgb(30, 30, 115);
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.liens-nav {
    display: flex;
    text-align: center;
    margin-left: 440px;
}

nav a:hover {
    color: #50a1df;
    font-size: 15pt;
}


h2 {
    text-align: center;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(2, 2, 2);
    font-size: 50px;
}

.fil {
    border: none;
    height: 4px;
    background: linear-gradient(270deg, #50a1df, #ff6f61, #ffd700, #50a1df);
    background-size: 600% 600%;
    animation: gradientMove 3s ease infinite;
    border-radius: 2px;
    margin: 40px;
}

@keyframes gradientMove {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}


.carrousel {
    height: 500px;
    width: 600px;
    position: relative;
    margin-left: 20px;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.8rem rgb(77, 57, 61));
}

.cadre {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4 ease-in-out;
    border-radius: 10px;
}

.image1 {
    z-index: 2;
    opacity: 1;
    background-image: url(image/caledonie/phare-amedee.jpg);
    background-size: cover;
}

.image2 {
    background-image: url(image/caledonie/poule-hienghene.jpg);
    background-size: cover;
}

.image3 {
    background-image: url(image/caledonie/sud.jpg);
    background-size: cover;
}

.image4 {
    background-image: url(image/caledonie/bourail.jpg);
    background-size: cover;
}

.fleche {
    border: solid rgb(4, 59, 72);
    padding: 12px;
    border-width: 0 5px 5px 0;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
}

.precedente,
.suivante {
    position: absolute;
    top: 50%;
}

.precedente {
    left: 45px;
    transform: rotate(135deg);
}

.suivante {
    right: 45px;
    transform: rotate(-45deg);
}

*:target~.image1 {
    opacity: 0;
}

#image1:target~.image1 {
    opacity: 1;
}

#image2:target~.image2,
#image3:target~.image3,
#image4:target~.image4 {
    z-index: 2;
    opacity: 1;
}

.paysages {
    display: flex;
    align-items: center;
    gap: 20px;
}

.carrousel2 {
    height: 500px;
    width: 600px;
    position: relative;
    margin-right: 20px;
    border-radius: 20px;
}

.cadre2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4 ease-in-out;
    border-radius: 10px;
}

.image5 {
    z-index: 2;
    opacity: 1;
    background-image: url(image/caledonie/kava.jpg);
    background-size: cover;
}

.image6 {
    background-image: url(image/caledonie/bounia.jpg);
    background-size: cover;
}

.image7 {
    background-image: url(image/caledonie/culture.jpg);
    background-size: cover;
}

.image8 {
    background-image: url(image/caledonie/tazar2.jpeg);
    background-size: cover;
}

.fleche2 {
    border: solid rgb(4, 59, 72);
    padding: 12px;
    border-width: 0 5px 5px 0;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
}

.precedente,
.suivante {
    position: absolute;
    top: 50%;
}

.precedente {
    left: 45px;
    transform: rotate(135deg);
}

.suivante {
    right: 45px;
    transform: rotate(-45deg);
}

*:target~.image1 {
    opacity: 0;
}

#image4:target~.image4 {
    opacity: 1;
}

#image5:target~.image5,
#image6:target~.image6,
#image7:target~.image7,
#image8:target~.image8 {
    z-index: 2;
    opacity: 1;
}

.carrousel3 {
    height: 500px;
    width: 600px;
    position: relative;
    margin-left: 20px;
    border-radius: 20px;
}

.cadre3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4 ease-in-out;
    border-radius: 10px;
}

.image9 {
    z-index: 2;
    opacity: 1;
    background-image: url(image/caledonie/Tricot-raye.jpg);
    background-size: cover;
}

.image10 {
    background-image: url(image/caledonie/cagou.jpg);
    background-size: cover;
}

.image11 {
    background-image: url(image/caledonie/etoile.jpg);
    background-size: cover;
}

.image12 {
    background-image: url(image/caledonie/requin.png);
    background-size: cover;
}

.fleche3 {
    border: solid rgb(4, 59, 72);
    padding: 12px;
    border-width: 0 5px 5px 0;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
}

.precedente,
.suivante {
    position: absolute;
    top: 50%;
}

.precedente {
    left: 45px;
    transform: rotate(135deg);
}

.suivante {
    right: 45px;
    transform: rotate(-45deg);
}

*:target~.image9 {
    opacity: 0;
}

#image9:target~.image9 {
    opacity: 1;
}

#image9:target~.image9,
#image10:target~.image10,
#image11:target~.image11,
#image12:target~.image12 {
    z-index: 2;
    opacity: 1;
}

.culture {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}

.animaux {
    display: flex;
    align-items: center;
    gap: 20px;
}

p {
    flex: 1;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    background-color: rgba(240, 248, 255, 0.305);
    border-radius: 10px;
}

.btn {
    background-color: rgb(4, 59, 72);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer {
    background-image: url(image/accueil/ciel1.jpg);
}

.reseaux {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
}

.reseaux img {
    width: 50px;
    margin-top: 20px;
}

.footer {
    color: rgb(30, 30, 115);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    height: 320px;
}

.liens-footer {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 15px;
    line-height: 32px;
}

.footer a {
    color: rgb(30, 30, 115);
    display: flex;
    text-decoration: none;
}

.footer a:hover {
    color: #50a1df;
    font-size: 10pt;
    text-decoration: none;
    font-weight: bold;
}