* {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #d62828;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #b51d1d;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #850000;
}

main {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0;
}

h2 {
    color: #6a040f;
}

p {
    line-height: 1.6;
    font-size: 1.1em;
}

hr {
    border: none;
    height: 6px;
    background: linear-gradient(to right, #008000 33%, #dfdfdf 33%, #dadada 66%, #ff0000 66%);
    margin: 40px 0;
}

ul {
    margin-top: 10px;
}

blockquote {
    font-style: italic;
    margin: 20px 0;
    padding-left: 20px;
    border-left: 3px solid #d62828;
    color: #555;
}

section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}


.image-section img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}


.side-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-image: url(/assets/image/Italie/clich-1.jpg);
    /* adapte le chemin */
    background-size: cover;
    background-position: center;
    z-index: -1;
    transform: scaleX(-1);

}

.side-bg-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-image: url(/assets/image/Italie/clich-1.jpg);
    /* adapte le chemin */
    background-size: cover;
    background-position: center;
    z-index: -1;

}



/* footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #eee;
    color: #555;
} */