* {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    background-image: url(image/accueil/ciel1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    margin: 0;
}

.avion-container {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-items: center;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    filter: drop-shadow(0 8mm 4mm rgb(3, 33, 55));
}

.avion {
    position: absolute;
    width: 700px;
    z-index: 2;
    animation: avion 8s linear infinite;
}

@keyframes avion {
    0% {
        left: -200px;
        opacity: 1;
    }

    80% {
        left: 110%;
        opacity: 1;
    }

    81% {
        left: 110%;
        opacity: 0;
    }

    99% {
        left: -200px;
        opacity: 0;
    }

    100% {
        left: -200px;
        opacity: 1;
    }
}

@keyframes textmove {
    0% {
        left: -200px;
        opacity: 1;
    }

    80% {
        left: 110%;
        opacity: 1;
    }

    81% {
        left: 110%;
        opacity: 0;
    }

    99% {
        left: -200px;
        opacity: 0;
    }

    100% {
        left: -200px;
        opacity: 1;
    }
}

nav {
    background: #72bbec4d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.226);
    display: flex;
    padding: 10px 20px;
    height: 75px;
}

nav a {
    color: rgb(30, 30, 115);
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.liens-nav {
    display: flex;
    text-align: center;
    margin-left: 440px;
}

nav a:hover {
    color: #50a1df;
    font-size: 15pt;
}

.drapeau img {
    width: 400px;
}

.drapeau>div {
    width: 400px;
}

.drapeau1 {
    margin-left: 560px;
    margin-top: 180px;
    filter: drop-shadow(0 0 0.8rem rgb(77, 57, 61));
}

.drapeau2 {
    margin-top: -500px;
    margin-left: 800px;
    filter: drop-shadow(0 0 0.75rem rgb(77, 57, 61));
}

.drapeau3 {
    margin-top: -430px;
    margin-left: 200px;
}

.drapeau4 {
    margin-left: 500px;
    margin-top: 100px;
    filter: drop-shadow(0 0 0.75rem rgb(77, 57, 61));
}


html,
body {
    height: 100%;
    margin: 0;
}

.fond {
    background-image: url(image/accueil/plan.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}



.footer {
    background-image: url(image/accueil/ciel1.jpg);
}

.reseaux {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
}

.reseaux img {
    width: 50px;
    margin-top: 20px;
}

.footer {
    color: rgb(30, 30, 115);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    height: 320px;
}

.liens-footer {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 15px;
    line-height: 32px;
}

.footer a {
    color: rgb(30, 30, 115);
    display: flex;
    text-decoration: none;
}

.footer a:hover {
    color: #50a1df;
    font-size: 10pt;
    text-decoration: none;
    font-weight: bold;
}

