* {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    background: linear-gradient(to top, #2887ed, #022346);
    height: 200px;
}

.avion-container {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
}

.avion {
    position: absolute;
    width: 700px;
    z-index: 2;
    animation: avion 8s linear infinite;
}



@keyframes avion {
    0% {
        left: -200px;
        opacity: 1;
    }

    80% {
        left: 110%;
        opacity: 1;
    }

    81% {
        left: 110%;
        opacity: 0;
    }

    99% {
        left: -200px;
        opacity: 0;
    }

    100% {
        left: -200px;
        opacity: 1;
    }
}


@keyframes textmove {
    0% {
        left: -200px;
        opacity: 1;
    }

    80% {
        left: 110%;
        opacity: 1;
    }

    81% {
        left: 110%;
        opacity: 0;
    }

    99% {
        left: -200px;
        opacity: 0;
    }

    100% {
        left: -200px;
        opacity: 1;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
}




html, body {
    height: 100%;
    margin: 0;
}

.fond {
    background-image: url(image/accueil/plan.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}



.footer {
    background: linear-gradient(to bottom, #2887ed, #022346); 
}

.reseaux {
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
}

.reseaux img {
    width: 50px;
    margin-top: 20px;
}

.liens-footer {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 30px;padding-right: 40px;
    font-size: 15px;
}

